<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <div class="no data content">
      <h2>No data found for requested route!</h2>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
